You can use it as a calculator

In [1]:
3+7

10

In [2]:
3+1

4

In [3]:
5-7

-2

In [4]:
7**2

49

In [5]:
6%5

1

In [6]:
13//6

2

In [7]:
13%6

1

In [8]:
2/8

0.25

You can assign values to variables.
Variable names must start with a letter or an underscore (\_) and after that can be any combination of letters, numbers or underscores.  The names are case sensitive.

In [9]:
x=7.5

In [10]:
x

7.5

In [11]:
x**2

56.25

In [12]:
x-3

4.5

In [13]:
7/6

1.1666666666666667

In [14]:
19%6

1

In [15]:
19//3

6

In [16]:
19/3

6.333333333333333

In [17]:
x

7.5

Although in Jupyter notebooks just finishing a cell with a variable name will cause its value to be displayed, you might want to explicitly print it out.

In [18]:
print(x)

7.5

This can also be used to put text around things.

In [19]:
print("The number is", x)

The number is 7.5

In [20]:
y = 7

print("x times y is", x*y)

x times y is 52.5

This is an interesting workbook

# A heading

I hope you're finding this interesting

## a subheading

$ z = x\times y$

In [21]:
x

7.5

In [22]:
type(x)

float

Floating point numbers can be very large or very small.  You can use standard notation using an "e" to seperate the significant digits from the powers of 10.  E.g. $3.5\times10^{20}$ is written as **3.5e20**

In [23]:
x = 3.5e20

In [24]:
x

3.5e+20

In [25]:
type(x)

float

In [26]:
y = 7

type(y)

int

In [27]:
s = 'Hello'

In [28]:
s

'Hello'

In [29]:
type(s)

str

In [30]:
s2 = "Hi"

In [31]:
s2

'Hi'

It can be awkward to include a single quote in a string if you are using single quotes to delimit the string

In [32]:
s3 = 'This isn't a good string'

SyntaxError: unterminated string literal (detected at line 1) (4274052275.py, line 1)

In [33]:
s3 = "This isn't a good string"

You can use a backslash (\\) to "escape" the character so it doesn't have special meaning to Python.

In [34]:
s4 = 'This isn\'t a good string'

In [35]:
d = True

In [36]:
type(d)

bool

In [37]:
e = False

In [38]:
4 == 5

False

In [39]:
x

3.5e+20

Variable names are case sensitive. E.g. **x** is different from **X**.

In [40]:
X

NameError: name 'X' is not defined

In [41]:
MyNumber = 2

In [42]:
my_number = 2

In [43]:
x = 2.3

In [44]:
x == 2.3

True

In [45]:
s

'Hello'

In [46]:
len(s)

5

You can access individual characters in a string.  They are numbered starting at 0 - e.g. the first character of the string **s** is accessed as **s[0]**

In [47]:
s[0]

'H'

In [48]:
s[1]

'e'

In [49]:
s[2]

'l'

You will get an error if you try to access a character beyond the end of the string.

In [50]:
s[5]

IndexError: string index out of range

You can extract multiple characcters by using **a:b** where **a** is the position of the starting character, and **b** is the position of the character **after** the last one you want.

In [51]:
s[1:3]

'el'

|h|e|l|l|o|
|-|-|-|-|-|
|0|1|2|3|4|

In [52]:
s[1:4]

'ell'

Leaving out the first number means start at the beginning of the string.

In [53]:
s[:4]

'Hell'

Leaving out the last number means finish at the end of the string.

In [54]:
s[2:]

'llo'

You can also count from the end of the string with negative numbers.

In [55]:
s[-1]

'o'

In [56]:
s[-2:]

'lo'

Those were the basic types in Python - floats, integers, booleans and strings.

We can also combine them in **data structures**.

E.g. we can make a list of items.

In [57]:
l = [1,3.7,'Hi']

In [58]:
l

[1, 3.7, 'Hi']

Items can be accessed the same way as they are in strings.

In [59]:
l[0]

1

In [60]:
l[:2]

[1, 3.7]

In [61]:
l[-2:]

[3.7, 'Hi']

In [62]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [63]:
name = 'Tom'

print("My name is", name,"my favourite number is", x)

My name is Tom my favourite number is 2.3

In [64]:
name

'Tom'

In [65]:
x

2.3

We'll talk about loops and things like that later in this course.  This was here just to show an example of where **print** might be useful.

In [66]:
for item in l:
    print("this item is", item)
    print("Ok")
    
x

this item is 1
Ok
this item is 3.7
Ok
this item is Hi
Ok

2.3

In [67]:
l

[1, 3.7, 'Hi']

In [68]:
2/8

0.25