A recap on lists

In [1]:
a = [1, 3.14, 'Tom', True]

In [2]:
a

[1, 3.14, 'Tom', True]

In [3]:
a[0]

1

In [4]:
a[1]

3.14

In [5]:
a[0:3]

[1, 3.14, 'Tom']

In [6]:
a[-1]

True

In [7]:
a[-2]

'Tom'

In [8]:
a[:-1]

[1, 3.14, 'Tom']

In [9]:
a[:-2]

[1, 3.14]

In [10]:
len(a)

4

Lists can be changed by assigning to part of one

In [11]:
a[0] = 5

In [12]:
a

[5, 3.14, 'Tom', True]

This is in contrast to strings, which are immutable.

In [13]:
s = 'Tom Goodale'

In [14]:
s[0]

'T'

In [15]:
s[0] = 'X'

TypeError: 'str' object does not support item assignment

You can also assign to a more than one part of a list

In [16]:
a[0:2] = [1,2]

In [17]:
a

[1, 2, 'Tom', True]

You can nest lists inside lists

In [18]:
b = [[1,2,3], 4, 5, 6]

In [19]:
b

[[1, 2, 3], 4, 5, 6]

The first entry in the list is b[0] which is itself a list

In [20]:
b[0]

[1, 2, 3]

You then access members of that list with another index

In [21]:
b[0][1]

2

In [22]:
b[0]

[1, 2, 3]

In [23]:
b[1]

4

If you want a set of numbers you can use **range**

In [24]:
c = range(0,11)

In [25]:
c[0]

0

In [26]:
c[9]

9

In [27]:
c[11]

IndexError: range object index out of range

In [28]:
a

[1, 2, 'Tom', True]

If you assign a list to a new variable, it just gives a new name to the list, rather than copying.

In [29]:
c = a

In [30]:
c

[1, 2, 'Tom', True]

In [31]:
c[0]

1

In [32]:
c[0] = 5

In [33]:
c

[5, 2, 'Tom', True]

In [34]:
a

[5, 2, 'Tom', True]

To make a copy you need to use the **copy()** method

In [35]:
c = a.copy()

In [36]:
c

[5, 2, 'Tom', True]

In [37]:
a

[5, 2, 'Tom', True]

In [38]:
c[0] = 1

In [39]:
c

[1, 2, 'Tom', True]

In [40]:
a

[5, 2, 'Tom', True]

Another data structure is a **tuple**

In [41]:
t = (1,2,"three")

In [42]:
t

(1, 2, 'three')

tuple

In [43]:
t[0]

1

Tuples are immutable, so are very useful for data that isn't going to change.

In [44]:
t[0]= 7

TypeError: 'tuple' object does not support item assignment

In [45]:
a

[5, 2, 'Tom', True]

In [46]:
d = [1,2,3,4,5,6,7,8,9]

Arithmetic on lists doesn't do what you expect

Multiplying a list by a number just makes that number of copies

In [47]:
d*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Adding two lists just concatenates them.

In [48]:
a + d

[5, 2, 'Tom', True, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# For loops

These can be used to iterate through a list.
The body of the loop is indented with respect to the **for** statement.
Every line with the same indentation is treated as part of the body of the loop, and repeated for each member of the list.

Returning to the previous level of indentation leaves the loop.

In [49]:
for number in d:
    print("I'm at the beginning of the loop")
    print(number*2)
    print("That's it")

print("The loop has finished")

I'm at the beginning of the loop
2
That's it
I'm at the beginning of the loop
4
That's it
I'm at the beginning of the loop
6
That's it
I'm at the beginning of the loop
8
That's it
I'm at the beginning of the loop
10
That's it
I'm at the beginning of the loop
12
That's it
I'm at the beginning of the loop
14
That's it
I'm at the beginning of the loop
16
That's it
I'm at the beginning of the loop
18
That's it
The loop has finished

In [50]:
e = []

for number in d:
    e.append(number*2)
    
print(e)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# List comprehension

This is a shortcut which allows you to make a list from another list without having to start with an empty list and append.  It runs more quickly.

In [51]:
f = [number*2 for number in d]

f

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# Dictionaries

These are another data structure in Python.  They allow you to store name-value pairs.

In [52]:
g = {'first name': 'Tom', 'last name': 'Goodale', 'favourite number': 7}

g

{'first name': 'Tom', 'last name': 'Goodale', 'favourite number': 7}

In [53]:
g['first name']

'Tom'

In [54]:
g['favourite fruit'] = 'orange'

In [55]:
g

{'first name': 'Tom',
 'last name': 'Goodale',
 'favourite number': 7,
 'favourite fruit': 'orange'}

## For loops and dictionaries

Iterating through the dictionary just gives the key names

In [56]:
for item in g:
    print(item)

first name
last name
favourite number
favourite fruit

If you want the values, you need to use the **values()** method on the dictionary.

In [57]:
for item in g.values():
    print(item)

Tom
Goodale
7
orange

If you want both keys and values, you need to use the **items()** method.  This returns a tuple, which you can separate into different variables using multiple assignment.

In [58]:
for key, value in g.items():
    print("The key is", key, "and the value is", value)

The key is first name and the value is Tom
The key is last name and the value is Goodale
The key is favourite number and the value is 7
The key is favourite fruit and the value is orange

Aside:  Python allows multiple assignment.  If the number of variables to the left of the equals sign in the same as the number of values of a list, or tuple, on the right hand side, then the values are assigned to each variable in turn.

In [59]:
h,i,j = 5,6,7

In [60]:
print(h, i , j)

5 6 7

In [61]:
a

[5, 2, 'Tom', True]

In [62]:
h,i,j,k = a

In [63]:
h

5

In [64]:
k

True

You do need to make sure the number of variables is the same length as the list

In [65]:
h, i = a

ValueError: too many values to unpack (expected 2)

End of aside.

In [66]:
constants = {'pi': 3.1416, 'G': 6.67e-11, 'c':3.0e8,'h':6.63e-34}

In [67]:
constants

{'pi': 3.1416, 'G': 6.67e-11, 'c': 300000000.0, 'h': 6.63e-34}

In [68]:
constants.items()

dict_items([('pi', 3.1416), ('G', 6.67e-11), ('c', 300000000.0), ('h', 6.63e-34)])

In [69]:
for key,value in constants.items():
    print('k:',key,",v:",value)

k: pi ,v: 3.1416
k: G ,v: 6.67e-11
k: c ,v: 300000000.0
k: h ,v: 6.63e-34

As stated earlier, the **items()** method returns a tuple

In [70]:
for item in constants.items():
    print(item)

('pi', 3.1416)
('G', 6.67e-11)
('c', 300000000.0)
('h', 6.63e-34)

In [71]:
for key,value in constants.items():
    print('The key is >',key,"< and the value is >",value, "<")

The key is > pi < and the value is > 3.1416 <
The key is > G < and the value is > 6.67e-11 <
The key is > c < and the value is > 300000000.0 <
The key is > h < and the value is > 6.63e-34 <

If you really want you can access the tuple members by indexing rather than multiple assignment. 

In most cases it makes the code easier to understand if you use multiple assignment with meaningful variable names.

In [72]:
for item in constants.items():
    print('k:',item[0],",v:",item[1])

k: pi ,v: 3.1416
k: G ,v: 6.67e-11
k: c ,v: 300000000.0
k: h ,v: 6.63e-34

# Sorting

In [73]:
d

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
d.sort(reverse=True)

In [75]:
d

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
h = [5,3,7,4,5]

In [77]:
h.sort()

h

[3, 4, 5, 5, 7]