# You can use Python as a calculator

In [1]:
1+1

2

In [2]:
1+1
2+2
3+4

7

# This is a top level header

This is some text

* item 1
* item 2
* item 3

$ y = ax^2 + bx + c \frac{a}{b}$

This is a *markdown* cell.

You can put formatted text in it, including links, tables and URLS, as well as equations using LaTeX.

See

* https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet
* https://en.wikibooks.org/wiki/LaTeX/Mathematics

In [3]:
2*3

6

In [4]:
7/2

3.5

In [5]:
3**7

2187

In [6]:
7-3

4

# Variables

You can assign values to *variables*.
Variable names can be any combination of letters, numbers and underscores.  They can't start with a number.

## Numbers

In [7]:
x = 7

In [8]:
x

7

In [9]:
print(x)

7

In [10]:
x = x + 1

In [11]:
x

8

There is a shortcut for adding to an existing value.  This will increment x by 3:

In [12]:
x += 3

It's slightly less typing than

x = x + 3

In [13]:
x

11

In [14]:
x /=4

In [15]:
x

2.75

This is a markdown cell

In [16]:
y = 7

In [17]:
x + y

9.75

In [18]:
type(x)

float

In [19]:
type(y)

int

## Strings

We are not restricted to numbers.

In [20]:
s = 'Hello'

In [21]:
s

'Hello'

In [22]:
t = "hello"

In [23]:
t

'hello'

In [24]:
type(s)

str

In [25]:
s = "This isn't a problem"

In [26]:
s = 'This isn't a problem'

SyntaxError: unterminated string literal (detected at line 1) (3440078157.py, line 1)

In [27]:
s = 'This isn\'t a problem'

## Logical values (booleans)

In [28]:
4 == 5

False

In [29]:
4 == 4

True

In [30]:
4 > 7

False

In [31]:
b = 4 > 7

In [32]:
b

False

# Finding things in strings

In [33]:
s

"This isn't a problem"

In [34]:
len(s)

20

In [35]:
s[0]

'T'

In [36]:
s[1]

'h'

In [37]:
s[2]

'i'

In [38]:
s[20]

IndexError: string index out of range

In [ ]:
s[19]

In [ ]:
s[-1]

In [ ]:
s[-2]

In [ ]:
s[0:3]

In [ ]:
s

In [ ]:
s[5:10]

In [ ]:
s[:10]

In [ ]:
s[5:]

In [39]:
s[5:18:2]

'intapol'

In [40]:
print(s)

This isn't a problem

In [41]:
s[-3:]

'lem'

# More complex data types

## Lists

In [42]:
k = [1,2,3]

In [43]:
k

[1, 2, 3]

In [44]:
k[0]

1

In [45]:
k[-1]

3

In [46]:
k[:2]

[1, 2]

In [47]:
m = [1,  "Fred", True, 3.14]

In [48]:
m

[1, 'Fred', True, 3.14]

In [49]:
s

"This isn't a problem"

In [50]:
s[5]

'i'

In [51]:
s[5] = 'I'

TypeError: 'str' object does not support item assignment

In [52]:
m[1]

'Fred'

In [53]:
m[1] = 99

In [54]:
m

[1, 99, True, 3.14]

In [55]:
m[:3]

[1, 99, True]

In [56]:
m[:3] = [1,2,3]

In [57]:
m

[1, 2, 3, 3.14]

In [58]:
n = [1,2,[3,4], m]

In [59]:
n

[1, 2, [3, 4], [1, 2, 3, 3.14]]

## Tuples

In [60]:
p = (1,2,3,4,5)

In [61]:
p

(1, 2, 3, 4, 5)

In [62]:
p[2] = 99

TypeError: 'tuple' object does not support item assignment

# Dictionaries

In [63]:
mydict = {'First name': 'Tom', 'Last name':'Goodale', 'room': 202}

In [64]:
mydict

{'First name': 'Tom', 'Last name': 'Goodale', 'room': 202}

In [65]:
mydict['First name']

'Tom'

In [66]:
mydict['room']

202

In [67]:
mydict['sandwiches'] = ['cheese', 'egg mayonnaise', 'ham']

In [68]:
mydict

{'First name': 'Tom',
 'Last name': 'Goodale',
 'room': 202,
 'sandwiches': ['cheese', 'egg mayonnaise', 'ham']}

In [69]:
mydict['sandwiches']

['cheese', 'egg mayonnaise', 'ham']

In [70]:
mydict['sandwiches'][1]

'egg mayonnaise'

# Flow control

In [71]:
x = [1,2,3,4,5,6]

In [72]:
x

[1, 2, 3, 4, 5, 6]

In [73]:
for item in x:
    print(item*2)
    print(item*3)
    
    print("They're different")
    
print("I'm now outside the loop")

2
3
They're different
4
6
They're different
6
9
They're different
8
12
They're different
10
15
They're different
12
18
They're different
I'm now outside the loop

In [74]:
for item in range(6):
    print("item is", item)

item is 0
item is 1
item is 2
item is 3
item is 4
item is 5

In [75]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [76]:
for item in range (1,10,2):
    print(item)

1
3
5
7
9

In [77]:
for item in range(10,1,-1):
    print("item is", item)

item is 10
item is 9
item is 8
item is 7
item is 6
item is 5
item is 4
item is 3
item is 2

In [78]:
mydict

{'First name': 'Tom',
 'Last name': 'Goodale',
 'room': 202,
 'sandwiches': ['cheese', 'egg mayonnaise', 'ham']}

In [79]:
for item in mydict:
    print(item)

First name
Last name
room
sandwiches

In [80]:
mydict.keys()

dict_keys(['First name', 'Last name', 'room', 'sandwiches'])

In [81]:
mydict.values()

dict_values(['Tom', 'Goodale', 202, ['cheese', 'egg mayonnaise', 'ham']])

In [82]:
mydict.items()

dict_items([('First name', 'Tom'), ('Last name', 'Goodale'), ('room', 202), ('sandwiches', ['cheese', 'egg mayonnaise', 'ham'])])

In [83]:
for item in mydict.values():
    print(item)

Tom
Goodale
202
['cheese', 'egg mayonnaise', 'ham']

In [84]:
for item in mydict.items():
    print(item)

('First name', 'Tom')
('Last name', 'Goodale')
('room', 202)
('sandwiches', ['cheese', 'egg mayonnaise', 'ham'])

In [85]:
for item in mydict.items():
    print("Key is: '",item[0], "', value is'", item[1], "'")

Key is: ' First name ', value is' Tom '
Key is: ' Last name ', value is' Goodale '
Key is: ' room ', value is' 202 '
Key is: ' sandwiches ', value is' ['cheese', 'egg mayonnaise', 'ham'] '

In [86]:
a,b = 7,9

print(a)
print(b)

7
9

In [87]:
a,b = b,a

print(a)
print(b)

9
7

In [88]:
for  key,value in mydict.items():
    print("Key is >>>", key,"<<< value is >>>", value, "<<<")

Key is >>> First name <<< value is >>> Tom <<<
Key is >>> Last name <<< value is >>> Goodale <<<
Key is >>> room <<< value is >>> 202 <<<
Key is >>> sandwiches <<< value is >>> ['cheese', 'egg mayonnaise', 'ham'] <<<

## While loops

In [89]:
x

[1, 2, 3, 4, 5, 6]

In [90]:
i = 0

while i < 4:
    print(i)
    i += 1

0
1
2
3

In [91]:
S = 1000

difference = 1000

guess = 3

while difference > 0.001:
    new_guess = (guess + S/guess)/2
    difference = abs(new_guess-guess)
    guess = new_guess
    print(guess, difference)

168.16666666666666 165.16666666666666
87.05657416584076 81.1100925008259
49.27167871980597 37.78489544603479
34.783656787503894 14.488021932302075
31.766395250093115 3.0172615374107785
31.623101257912623 0.14329399218049232
31.622776603350324 0.00032465456229857637

In [92]:
i = 0

while True:
    print("Hello", i)
    i += 1
    if i == 4:
        break

Hello 0
Hello 1
Hello 2
Hello 3

# Branching

In [93]:
y = 7

In [94]:
y > 6

True

In [95]:
y >= 7

True

In [96]:
y <= 7

True

In [97]:
y != 6

True

In [98]:
y == 7

True

In [99]:
y < 10 and y > 6

True

In [100]:
y < 10 or y > 6

True

In [101]:
y > 10 or y < 6

False

In [102]:
x = 5

In [103]:
y > 6 and x < 4

False

In [104]:
(y > 6) and (x < 4)

False

In [105]:
(y > 6) and (x < 4 or x == 5)

True

In [106]:
(y < 6) and (x < 4 or x == 5)

False

In [107]:
if True:
    print("I'm true")

I'm true

In [108]:
if False:
    print("I'm true")

In [109]:
if False:
    print("I'm true")
else:
    print("I'm not true")

I'm not true

In [110]:
y

7

In [111]:
if y > 7:
    print("I'm greater than 7")
elif y==7:
    print("I'm 7")
elif y==6:
    print("I'm 6")
else:
    print("I'm less than 6")

I'm 7

In [112]:
if y > 7:
    print("I'm greater than 7")
elif y==7:
    print("I'm 7")
elif y > 6:
    print("I'm greater than 6")
else:
    print("I'm less than 6")

I'm 7

In [113]:
s = "Hi"

if s == "Hi":
    print("Hi back atcha!")

Hi back atcha!

In [114]:
x = range(1,11)

for number in x:
    print(number**2)

1
4
9
16
25
36
49
64
81
100

In [115]:
x = range(1,11)

for number in x:
    print(number**2)
    if(number**2 > 30):
        break

1
4
9
16
25
36

In [116]:
x = range(1,11)

for number in x:
    if(number**2 > 30):
        break
    print(number**2)

1
4
9
16
25

In [117]:
x = range(1,11)

for number in x:
    if number == 5:
        continue
    print(number**2)

1
4
9
16
36
49
64
81
100

In [118]:
x = range(1,11)

for number in x:
    print("Number is", number)
    if number == 5:
        print("I'm in the if statement")
        continue
    print(number**2)

Number is 1
1
Number is 2
4
Number is 3
9
Number is 4
16
Number is 5
I'm in the if statement
Number is 6
36
Number is 7
49
Number is 8
64
Number is 9
81
Number is 10
100

In [119]:
x = range(1,11)

for number in x:
    print("Number is", number)
    if number == 5:
        print("I'm in the if statement")
        break
    print(number**2)

Number is 1
1
Number is 2
4
Number is 3
9
Number is 4
16
Number is 5
I'm in the if statement

In [120]:
print(x)

range(1, 11)

In [121]:
list(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
for number in x:
    print(number**2)

1
4
9
16
25
36
49
64
81
100

In [123]:
x2 = []

In [124]:
x2

[]

In [125]:
for number in x:
    x2.append(number**2)

In [126]:
x2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [127]:
[number**2 for number in x]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [128]:
[number**2 for number in x if number > 2]

[9, 16, 25, 36, 49, 64, 81, 100]

In [129]:
5/0

ZeroDivisionError: division by zero

In [130]:
5 ghjhhjvs 6

SyntaxError: invalid syntax (3837732422.py, line 1)

In [131]:
"H" + 2

TypeError: can only concatenate str (not "int") to str

In [132]:
x

range(1, 11)

In [133]:
for number in x:
    print(number)
else:
    print("I finished successfully")

1
2
3
4
5
6
7
8
9
10
I finished successfully

In [134]:
for number in x:
    print(number)
    if(number == 3):
        break
else:
    print("I finished successfully")

1
2
3

In [135]:
for number in x:
    # This is a comment
    print(number)
    if(number == 3):
        break
else:
    print("I finished successfully")

1
2
3

# Functions

In [136]:
def my_add(a,b):
    return a+b

In [137]:
my_add(3,4)

7

In [138]:
def my_add(a,b=6):
    return a+b

In [139]:
my_add(5)

11

In [140]:
my_add(5,7)

12

In [141]:
def my_add(a,b=6):
    print("a is",a, "b is",b)
    return a+b

In [142]:
my_add(5)

a is 5 b is 6

11

In [143]:
my_add(6,7)

a is 6 b is 7

13

In [144]:
my_add(b=9, a=4)

a is 4 b is 9

13

In [145]:
my_add(b=7)

TypeError: my_add() missing 1 required positional argument: 'a'

In [146]:
def make_list(begin=1, end=5):
    return list(range(begin,end+1))

In [147]:
make_list(2,7)

[2, 3, 4, 5, 6, 7]

In [148]:
list(range(0,4))

[0, 1, 2, 3]

In [149]:
list(range(0,4,2))

[0, 2]

In [150]:
def swap(a,b):
    return b,a

In [151]:
a,b = swap(7,6)

print(a, b)

6 7